.container_atualiza {
  margin: 20px 20px;
  width: 1250px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container_atualiza p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.botao {
  width: 1200px;
  height: 30px;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #088fad;
  color: white;
  font-weight: bold;
  font-size: 1em;
  margin: 10px 0 10px 0;
}

.botao:hover {
  background-color: #07758d;
  font-size: 1.1em;
}

.doc_tabela {
  width: 1180px;
  border-collapse: collapse;
  text-align: center;
}

.doc_tabela tr, td, th {
  border: solid 1px gray;
}

.doc_tb_titulo {
  color: #07758d;
  background-color: #a5deeb;
  position: sticky;
  top: 0;
}

.table_doc {
  max-width: 1200px;
  max-height: 500px;
  overflow-y: auto;
}

tr:not(:first-child):nth-child(odd) {
    background:#f0efef
}