.paletes {
	padding: 20px 20px;
	font-family:Arial, Helvetica, sans-serif;
}

.paletes h2 {
	margin-bottom: 20px;
}

.palete {
	margin-top: 20px;
	margin-bottom: 20px;
}

.palete form {
	/*background-color: #E0FFFF;*/
	padding: 10px 10px 10px 10px;
}

.palete form label {
	color: #4682B4;
  font-weight: bold;
	width: 100px;
	float: left;
}

.palete form select {
	background-color: #AFEEEE;
	width: 100px;
	height: 30px;
	margin-bottom: 10px;
}

.palete form input {
	width: 195px;
	height: 30px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.palete form input[type="submit"] {
  padding: 5px;
  border: none;
  background-color:#088fad;
  border-radius: 5px;
  font: inherit;
	font-weight: bold;
	width: 500px;
	height: 30px;
	color: white;
}

.palete form input[type="submit"]:hover {
  cursor: pointer;
	background-color: #07758d;
  font-size: 1.1em;
}



