.precos_container {
  margin: 20px 20px;
  width: 680px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.precos_container p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.botao {
  width: 680px;
  height: 30px;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #088fad;
  color: white;
  font-weight: bold;
  font-size: 1em;
  margin: 10px 0 10px 0;
}

.botao:hover {
  background-color: #07758d;
  font-size: 1.1em;
}

.form_precos {
  width: 650px;
  display: flex;
}

.form_precos_int {
  width: 280px;
}