.estoques {
  margin: 20px auto;
  display: flex;
  width: 530px;
}

.estoque {
  width: 120px;
  margin-left: 10px;
  /*border: solid 1px black;*/
}

.titulo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dados {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
}

.dados table, td {
  border: solid 1px black;
  border-collapse: collapse;
  text-align: center;
}