.tecdoc {
	padding: 20px 20px 20px 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.tecdoc p {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

.pesquisa {
	width: 620px;
}

.listar {
	width: 600px;
	margin-left: 10px;
}

.linha {
	display: flex;
	width: 600px;
}

.codigo {
	width: 140px; 
	border: 1px solid lightgray;
}

.codigo p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.marca {
	width: 60px;
	border: 1px solid lightgray;
}

.marca p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.marcadesc {
	width: 160px;
	border: 1px solid lightgray;
}

.marcadesc p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.ref {
	width: 240px;
	border: 1px solid lightgray;
}

.linha:nth-of-type(even) {
    background: #e0e0e0;
}

details {
	border: 1px solid lightgray;
	font-size: 0.8em;
}

.info {
	display: flex;
	width: 515px;
	padding-bottom: 5px;
}

.colunan {
	width: 50px;
}

.colunan p {
	color: gray;
	border: 1px dashed white;
	text-align: center;
}

.coluna p {
	border: 1px inset lightblue;
}

.coluna {
	text-align: center;
	width: 232px;
}

.input {
  width: 600px;
  height: 30px;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #088fad;
  color: white;
  font-weight: bold;
  font-size: 1em;
  margin: 10px 10px 10px 10px;
}

.input:hover {
  background-color: #07758d;
  font-size: 1.1em;
}

.pesquisa input[type="text"] {
  width: 280px;
}

.tecdoc hr {
	margin-bottom: 20px;
}

