.vendedor {
	padding: 20px 20px 20px 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.vendedor p {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

.linhaf spam {
	font-family: Times, serif;
	color: blue;
	font-weight: bold;
}

.fatura {
	margin-top: 20px;
	width: 650px;
}

.cabeca {
  text-align: center;
	font-size: 1.3em;
	margin-bottom: 20px;
}

.linhas {
	margin-bottom: 20px;
}

.linhas table {
	width: 100%;
	background-color: antiquewhite;
}

.linhas table td {
	text-align: center;
}

.lista {
	text-align: center;
}