.vendas {
  margin: 20px 20px ;
  
  /*text-align: center;*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vendas p {
  color: black;
}

table, tr, td, th {
	border: 1px solid lightgray;
	border-collapse: collapse;
  padding: 3px;
}

tr:not(:first-child):nth-child(odd) {
    background:#D0D0D0
}

.input {
  width: 500px;
  height: 30px;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #088fad;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.input:hover {
  background-color: #07758d;
  font-size: 1.1em;
}

.vendas_tabela_titulo {
  color: #07758d;
  background-color: #a5deeb;
  position: sticky;
  top: 0;
}

.table_vendas {
  max-height: 800px;
  overflow-y: auto;
}

